In [1]:
from google.colab import files
files.upload()

Saving malnutrition_clean.csv to malnutrition_clean.csv

{'malnutrition_clean.csv': b"country,year,stunting,wasting,underweight,overweight,income_class,u5_population_thousands\r\nAFGHANISTAN,1997,53.2,18.2,44.9,6.5,High income,3838.877\r\nAFGHANISTAN,2004,59.3,8.6,32.9,4.6,High income,4789.353\r\nAFGHANISTAN,2013,40.4,9.5,24.6,5.3,High income,5444.573\r\nAFGHANISTAN,2018,38.2,5.1,19.1,4.1,High income,5601.443\r\nALBANIA,1997,20.4,8.1,7.1,9.5,Lower middle income,309.225\r\nALBANIA,2000,39.2,12.2,17,30.1,Lower middle income,279.835\r\nALBANIA,2005,26.7,7.3,6.6,24.8,Lower middle income,219.405\r\nALBANIA,2009,23.2,9.6,6.3,23.2,Lower middle income,179.312\r\nALBANIA,2017,11.3,1.6,1.5,16.4,Lower middle income,176.522\r\nALGERIA,1992,22.9,7.1,9.2,8.7,Lower middle income,3926.354\r\nALGERIA,1995,22.5,9.6,11.3,13.2,Lower middle income,3733.161\r\nALGERIA,2000,23.6,3.1,5.4,14.7,Lower middle income,3084.85\r\nALGERIA,2002,24,9.6,11.1,15.1,Lower middle income,2877.72\r\nALGERIA,2006,15.4,4.1,3.4,12.9,Lower middle income,3080.573\r\nALGERIA,2012,11.7,4.1,3,12.4,Lower middle income,4298.747\r\nANGOLA,1996,61.1,7.7,36.2,1.7,Upper middle income,2749.75\r\nANGOLA,2015,37.6,4.9,19,3.4,Upper middle income,5192.358\r\nARGENTINA,1994,7.1,1.6,1.7,11.1,Lower middle income,3579.943\r\nARGENTINA,1996,16.9,4.2,4.7,13.5,Lower middle income,3574.466\r\nARGENTINA,2005,8.2,1.2,2.3,9.9,Lower middle income,3558.316\r\nARGENTINA,2019,7.9,1.6,1.7,10,Lower middle income,3741.882\r\nARMENIA,1998,15.1,3.3,2.7,10.8,Lower middle income,222.626\r\nARMENIA,2000,17.3,2.5,2.6,15.7,Lower middle income,196.554\r\nARMENIA,2005,17.9,5.4,4.2,11.4,Lower middle income,186.629\r\nARMENIA,2010,20.9,4.1,5.3,16.5,Lower middle income,201.083\r\nARMENIA,2016,9.4,4.4,2.6,13.7,Lower middle income,213.834\r\nAUSTRALIA,1995,0,0,0,7.9,Low income,1297.817\r\nAUSTRALIA,2007,2,0,0.2,7.7,Low income,1328.02\r\nAZERBAIJAN,1996,28,3.8,8.8,6.1,Lower middle income,855.415\r\nAZERBAIJAN,2000,24.2,9,14,6.2,Lower middle income,712.542\r\nAZERBAIJAN,2001,18,3.2,5.9,4.4,Lower middle income,674.032\r\nAZERBAIJAN,2006,26.5,6.8,8.4,13.9,Lower middle income,656.929\r\nAZERBAIJAN,2011,16.4,6.6,6.5,10.4,Lower middle income,734.346\r\nAZERBAIJAN,2013,17.8,3.2,4.9,14.1,Lower middle income,809.746\r\nBAHRAIN,1989,13.9,6.8,6.3,7.5,Low income,65.452\r\nBANGLADESH,1986,70.9,17.3,66.8,0.2,Upper middle income,15384.621\r\nBANGLADESH,1990,63.4,17.5,61.5,0.6,Upper middle income,15889.547\r\nBANGLADESH,1991,73.6,15.2,61.2,0.3,Upper middle income,15998.584\r\nBANGLADESH,1992,71.5,16.1,60.6,0.2,Upper middle income,16042.636\r\nBANGLADESH,1993,69.2,14,56.1,0.4,Upper middle income,16047.015\r\nBANGLADESH,1994,67.3,16.7,58,0.2,Upper middle income,16047.944\r\nBANGLADESH,1995,65.8,15.1,55.2,0.2,Upper middle income,16075.268\r\nBANGLADESH,1996,63.8,15.5,54,0.3,Upper middle income,16113.488\r\nBANGLADESH,1997,59.6,20.7,53.6,2.4,Upper middle income,16160.17\r\nBANGLADESH,1998,59.3,15,50.7,0.2,Upper middle income,16211.608\r\nBANGLADESH,1999,59.9,13.7,49.5,0.6,Upper middle income,16254.467\r\nBANGLADESH,2000,51.1,12.5,42.4,0.9,Upper middle income,16282.15\r\nBANGLADESH,2001,53.2,12.7,43.2,0.9,Upper middle income,16368.469\r\nBANGLADESH,2002,51.4,12.4,41,1,Upper middle income,16391.13\r\nBANGLADESH,2003,47.8,12.5,38.9,1,Upper middle income,16357.212\r\nBANGLADESH,2004,50.5,14.6,42.8,0.9,Upper middle income,16275.278\r\nBANGLADESH,2005,45.9,11.8,37.3,1,Upper middle income,16156.707\r\nBANGLADESH,2006,45.1,11.9,37.9,0.8,Upper middle income,16077.841\r\nBANGLADESH,2007,43.2,17.5,41.3,1.1,Upper middle income,15911.48\r\nBANGLADESH,2011,41.3,15.7,36.7,1.9,Upper middle income,15076.216\r\nBANGLADESH,2013,42,9.6,31.9,1.6,Upper middle income,14844.468\r\nBANGLADESH,2013,38.7,18.1,35.1,2.6,Upper middle income,14844.468\r\nBANGLADESH,2014,36.2,14.4,32.8,1.6,Upper middle income,14770.88\r\nBANGLADESH,2018,30.8,8.4,21.9,2.2,Upper middle income,14516.613\r\nBARBADOS,2012,7.7,6.8,3.5,12.2,Low income,16.653\r\nBELARUS,2005,4.5,2.2,1.3,9.7,Lower middle income,445.676\r\nBELIZE,2006,22,1.9,5,13.6,Lower middle income,37.919\r\nBELIZE,2011,19.3,3.3,6.2,7.9,Lower middle income,37.507\r\nBELIZE,2015,15,1.8,4.6,7.3,Lower middle income,38.586\r\nBENIN,1996,39.1,12.3,26.2,2.4,High income,1107.596\r\nBENIN,2001,36.2,9,19.5,3.1,High income,1252.442\r\nBENIN,2014,34,4.5,18,1.7,High income,1704.452\r\nBENIN,2018,32.2,5,16.8,1.9,High income,1841.613\r\nBHUTAN,1987,60.9,5.2,34,3.5,Upper middle income,84.935\r\nBHUTAN,1999,47.7,2.5,14.1,3.9,Upper middle income,78.478\r\nBHUTAN,2008,34.9,4.5,10.4,5.4,Upper middle income,68.817\r\nBHUTAN,2010,33.5,5.9,12.7,7.6,Upper middle income,66.957\r\nBOLIVIA (PLURINATIONAL STATE OF),1989,44,1.5,7.8,7.4,Upper middle income,1013.338\r\nBOLIVIA (PLURINATIONAL STATE OF),1994,37.1,3.6,11,6.7,Upper middle income,1086.076\r\nBOLIVIA (PLURINATIONAL STATE OF),1998,33.2,1.6,5.9,10.7,Upper middle income,1132.938\r\nBOLIVIA (PLURINATIONAL STATE OF),2003,32.4,1.7,5.8,9.2,Upper middle income,1182.636\r\nBOLIVIA (PLURINATIONAL STATE OF),2008,27.1,1.4,4.5,8.7,Upper middle income,1196.198\r\nBOLIVIA (PLURINATIONAL STATE OF),2012,18.2,1.5,3.6,7.4,Upper middle income,1191.066\r\nBOLIVIA (PLURINATIONAL STATE OF),2016,16.1,2,3.4,10.1,Upper middle income,1198.939\r\nBOSNIA AND HERZEGOVINA,2000,12.1,7.4,4.2,16.3,Lower middle income,234.469\r\nBOSNIA AND HERZEGOVINA,2006,11.8,4,1.6,25.7,Lower middle income,165.01\r\nBOSNIA AND HERZEGOVINA,2012,8.9,2.3,1.6,17.4,Lower middle income,182.991\r\nBOTSWANA,2000,29.1,5.9,11.1,10.1,Lower middle income,216.961\r\nBOTSWANA,2007,28.9,7.3,11.8,10,Lower middle income,244.542\r\nBRAZIL,1996,13,2.8,4.5,6.1,Lower middle income,17456.822\r\nBRAZIL,2007,7,1.8,2.2,6.4,Lower middle income,15642.56\r\nBRUNEI DARUSSALAM,2009,19.7,2.9,9.6,8.3,Low income,31.337\r\nBULGARIA,2004,8.8,3.2,1.6,13.6,Lower middle income,323.271\r\nBULGARIA,2007,6.6,4.5,2.5,6.5,Lower middle income,361.28\r\nBULGARIA,2014,7,6.3,1.9,6.9,Lower middle income,347.561\r\nBURKINA FASO,1993,38.7,15.4,28.7,2.8,High income,1794.843\r\nBURKINA FASO,1999,41.4,15.5,30.9,1.9,High income,2113.613\r\nBURKINA FASO,2003,43.1,21.2,35.2,5.4,High income,2360.635\r\nBURKINA FASO,2006,40,24.4,35.9,7,High income,2564.716\r\nBURKINA FASO,2010,34.7,15.5,26.2,2.8,High income,2842.946\r\nBURKINA FASO,2011,34.6,10.4,25.1,0.7,High income,2920.986\r\nBURKINA FASO,2012,32.8,10.7,24.3,0.6,High income,2986.467\r\nBURKINA FASO,2013,31.3,8.1,20.9,0.8,High income,3044.475\r\nBURKINA FASO,2014,29,8.5,20,1.1,High income,3101.116\r\nBURKINA FASO,2016,26.8,7.5,18.9,1.2,High income,3220.629\r\nBURKINA FASO,2017,21.1,8.6,16.2,1.7,High income,3281.695\r\nBURKINA FASO,2018,24.9,8.4,17.7,1,High income,3344.616\r\nBURUNDI,1987,56.2,6.7,33.6,1.3,High income,1021.437\r\nBURUNDI,2000,64,8.1,39.1,1.5,High income,1155.817\r\nBURUNDI,2010,57.6,6,29.1,2.9,High income,1578.653\r\nBURUNDI,2016,55.9,5.1,29.3,1.4,High income,1905.899\r\nCAMBODIA,1996,58.6,13.4,42.6,6.5,Upper middle income,1750.738\r\nCAMBODIA,2000,49,17.1,39.7,4,Upper middle income,1575.054\r\nCAMBODIA,2005,42.8,8.5,28.3,1.6,Upper middle income,1531.751\r\nCAMBODIA,2008,39.5,9.1,28.3,2,Upper middle income,1621.344\r\nCAMBODIA,2010,39.8,11,28.9,1.9,Upper middle income,1672.089\r\nCAMBODIA,2014,32.4,9.7,24.1,2.2,Upper middle income,1758.997\r\nCAMEROON,1991,31.6,4.5,12.9,4.7,Upper middle income,2249.394\r\nCAMEROON,1998,38.2,6.2,17.3,8.2,Upper middle income,2549.514\r\nCAMEROON,2004,35.6,6.2,15.1,8.7,Upper middle income,2951.589\r\nCAMEROON,2006,37.6,7.6,16.5,10.5,Upper middle income,3140.007\r\nCAMEROON,2011,32.6,5.7,15.2,6.5,Upper middle income,3545.138\r\nCAMEROON,2014,31.7,5.2,14.8,6.7,Upper middle income,3756.345\r\nCAMEROON,2018,28.9,4.3,11,11,Upper middle income,4003.013\r\nCENTRAL AFRICAN REPUBLIC (THE),1994,41.5,8.7,24,3.7,High income,528.307\r\nCENTRAL AFRICAN REPUBLIC (THE),2000,44.4,10.4,21.3,10.8,High income,612.987\r\nCENTRAL AFRICAN REPUBLIC (THE),2006,43.6,12.1,26.1,8.6,High income,699.11\r\nCENTRAL AFRICAN REPUBLIC (THE),2010,40.7,7.4,23.5,1.8,High income,731.905\r\nCENTRAL AFRICAN REPUBLIC (THE),2012,39.7,7.4,24.5,2,High income,739.462\r\nCHAD,1997,44.5,16.5,34.3,2.7,High income,1518.078\r\nCHAD,2000,38.9,13.9,29.2,2.7,High income,1688.335\r\nCHAD,2004,44.4,16.2,33.8,4.2,High income,1957.936\r\nCHAD,2010,38.7,16.3,30.3,2.8,High income,2324.09\r\nCHAD,2015,39.8,13.3,29.4,2.8,High income,2633.013\r\nCHILE,1986,13.5,0.7,2.2,15.4,Low income,1322.604\r\nCHILE,1994,4.2,0.5,0.8,10.1,Low income,1467.634\r\nCHILE,1995,3.9,0.5,0.8,10.9,Low income,1459.639\r\nCHILE,1996,3.7,0.5,0.7,10.7,Low income,1446.074\r\nCHILE,1998,3.3,0.6,0.7,11.2,Low income,1389.133\r\nCHILE,1999,3.1,0.5,0.7,11.9,Low income,1355.302\r\nCHILE,2001,2.8,0.5,0.7,12.9,Low income,1279.623\r\nCHILE,2002,2.5,0.5,0.7,12,Low income,1250.46\r\nCHILE,2003,2.5,0.5,0.6,12.1,Low income,1232.375\r\nCHILE,2004,2.4,0.5,0.6,12.1,Low income,1220.303\r\nCHILE,2006,2.2,0.5,0.6,11.7,Low income,1208.005\r\nCHILE,2007,2.1,0.3,0.6,9.8,Low income,1209.337\r\nCHILE,2008,2,0.3,0.5,9.5,Low income,1213.015\r\nCHILE,2013,1.8,0.3,0.5,10.1,Low income,1247.696\r\nCHILE,2014,1.8,0.3,0.5,9.3,Low income,1245.002\r\nCHINA,1990,32.3,4.2,12.6,5.3,Lower middle income,132966.782\r\nCHINA,1992,38,3.9,14.2,7.2,Lower middle income,130485.494\r\nCHINA,1995,31.2,5,10.7,13.6,Lower middle income,100534.92\r\nCHINA,1998,19.8,2.4,6.9,5.5,Lower middle income,85061.969\r\nCHINA,2000,17.8,2.5,7.4,3.4,Lower middle income,88692.597\r\nCHINA,2002,21.8,3,6.8,9.2,Lower middle income,91696.558\r\nCHINA,2005,11.7,2.9,4.5,5.9,Lower middle income,83125.614\r\nCHINA,2008,9.8,2.6,3.8,5.8,Lower middle income,82746.941\r\nCHINA,2009,9,2.6,3.4,5.7,Lower middle income,83852.351\r\nCHINA,2010,9.4,2.3,3.4,6.6,Lower middle income,84639.255\r\nCHINA,2013,8.1,1.9,2.4,9.1,Lower middle income,86717.349\r\nCOLOMBIA,1986,26.6,1,8.9,4.2,Lower middle income,4056.29\r\nCOLOMBIA,1995,19.6,1.7,6.3,4.5,Lower middle income,4440.145\r\nCOLOMBIA,2000,18.2,1,4.9,5.3,Lower middle income,4355.54\r\nCOLOMBIA,2004,16,1.6,5,4.2,Lower middle income,4247.488\r\nCOLOMBIA,2010,12.6,0.9,3.4,4.8,Lower middle income,3834.004\r\nCOLOMBIA,2016,12.7,1.6,3.7,5.7,Lower middle income,3693.906\r\nCOMOROS (THE),1996,40,10.7,21.1,5.3,Upper middle income,83.015\r\nCOMOROS (THE),2000,46.9,13.3,25.1,21.5,Upper middle income,88.752\r\nCOMOROS (THE),2012,31.1,11.2,16.9,10.6,Upper middle income,111.401\r\nCONGO (THE),1987,30.1,6.6,16.4,1.6,Upper middle income,369.595\r\nCONGO (THE),2005,31.2,8,11.9,8.5,Upper middle income,594.828\r\nCONGO (THE),2011,24.4,6,11.8,3.5,Upper middle income,725.637\r\nCONGO (THE),2014,21.2,8.2,12.3,5.9,Upper middle income,768.493\r\nCOSTA RICA,1996,8.2,2.4,3.8,9.5,Lower middle income,410.887\r\nCOSTA RICA,2008,5.6,1,1.1,8.1,Lower middle income,352.888\r\nCOTE D'IVOIRE,1994,34.2,8.3,20.3,2.5,Upper middle income,2389.654\r\nCOTE D'IVOIRE,1998,31.2,6.9,18.2,4.6,Upper middle income,2686.59\r\nCOTE D'IVOIRE,2006,41.3,8.4,16.5,9.1,Upper middle income,3160.547\r\nCOTE D'IVOIRE,2007,39,14,29.4,4.9,Upper middle income,3201.357\r\nCOTE D'IVOIRE,2012,29.9,7.6,15.7,3.2,Upper middle income,3458.278\r\nCOTE D'IVOIRE,2016,21.6,6.1,12.8,1.5,Upper middle income,3806.33\r\nCZECHIA,1991,3.1,2.8,0.9,6.7,Low income,669.575\r\nCZECHIA,2001,2.7,4.6,2.1,4.4,Low income,417.638\r\nDEMOCRATIC PEOPLE'S REP. OF KOREA (THE),2002,44.7,8.7,17.8,0.9,High income,1933.702\r\nDEMOCRATIC PEOPLE'S REP. OF KOREA (THE),2009,32.4,5.2,18.8,0,High income,1736.606\r\nDEMOCRATIC PEOPLE'S REP. OF KOREA (THE),2017,19.1,2.5,9.3,2.3,High income,1740.55\r\nDEMOCRATIC REP. OF THE CONGO (THE),2001,44.4,15.9,30.3,6.7,High income,8933.779\r\nDEMOCRATIC REP. OF THE CONGO (THE),2007,45.8,10.4,25.6,7,High income,10993.051\r\nDEMOCRATIC REP. OF THE CONGO (THE),2010,43.4,8.5,24.2,4.9,High income,12134.254\r\nDEMOCRATIC REP. OF THE CONGO (THE),2013,42.7,8.1,23.4,4.4,High income,13355.337\r\nDJIBOUTI,2002,27.1,19.4,24.4,8.4,Upper middle income,105.434\r\nDJIBOUTI,2012,33.5,21.5,29.9,8.1,Upper middle income,92.531\r\nDOMINICAN REPUBLIC (THE),1986,20.4,3.3,8.7,3.8,Lower middle income,939.009\r\nDOMINICAN REPUBLIC (THE),1991,21.1,2.1,8.4,4.3,Lower middle income,977.922\r\nDOMINICAN REPUBLIC (THE),1996,13.5,2,4.7,6.7,Lower middle income,1019.325\r\nDOMINICAN REPUBLIC (THE),2000,7.7,1.5,3.3,6.9,Lower middle income,1008.017\r\nDOMINICAN REPUBLIC (THE),2002,11.6,2.2,4.2,8.6,Lower middle income,998.016\r\nDOMINICAN REPUBLIC (THE),2006,10.5,1.9,4.6,7.4,Lower middle income,993.981\r\nDOMINICAN REPUBLIC (THE),2007,10.1,2.3,3.4,8.3,Lower middle income,992.495\r\nDOMINICAN REPUBLIC (THE),2013,7.1,2.4,4,7.6,Lower middle income,999.023\r\nECUADOR,1999,27.9,2.7,10.4,2.6,Lower middle income,1553.154\r\nECUADOR,2004,29.2,2,6.7,5.3,Lower middle income,1562.128\r\nECUADOR,2006,25.9,2.1,6.8,5.2,Lower middle income,1548.115\r\nECUADOR,2012,25.4,2.4,6.4,7.5,Lower middle income,1576.81\r\nECUADOR,2014,23.9,1.6,5.1,8,Lower middle income,1596.662\r\nEGYPT,1988,34,1.9,9.4,6.9,Upper middle income,8495.019\r\nEGYPT,1991,34.9,4.5,10.5,14.9,Upper middle income,8754.239\r\nEGYPT,1993,31.1,4,8.2,14.3,Upper middle income,8579.93\r\nEGYPT,1995,34.8,5.7,10.8,14.6,Upper middle income,8385.616\r\nEGYPT,2003,20.2,5.2,8.7,9.2,Upper middle income,8744.939\r\nEGYPT,2005,23.9,5.3,5.4,14.1,Upper middle income,8797.235\r\nEGYPT,2008,30.7,7.9,6.8,20.4,Upper middle income,9135.679\r\nEGYPT,2014,22.3,9.5,7,15.7,Upper middle income,11943.129\r\nEL SALVADOR,1988,36.7,2.2,11.1,3,Upper middle income,742.183\r\nEL SALVADOR,1993,31.6,1.5,8,3.7,Upper middle income,767.556\r\nEL SALVADOR,1998,32.3,1.5,9.7,3.9,Upper middle income,775.386\r\nEL SALVADOR,2003,24.6,1.3,6.1,5.8,Upper middle income,691.281\r\nEL SALVADOR,2008,20.8,1.6,6.7,5.7,Upper middle income,613.806\r\nEL SALVADOR,2014,13.6,2.1,5,6.4,Upper middle income,587.168\r\nEQUATORIAL GUINEA,1997,38.7,4,13.8,3.4,Lower middle income,89.048\r\nEQUATORIAL GUINEA,2000,42.7,9.2,15.7,14,Lower middle income,100.185\r\nEQUATORIAL GUINEA,2004,35,2.8,10.6,8.3,Lower middle income,117.413\r\nEQUATORIAL GUINEA,2011,26.2,3.1,5.6,9.7,Lower middle income,154.9\r\nERITREA,1995,47.8,17,39.6,1.3,High income,370.17\r\nERITREA,2002,43,15,34.3,1.6,High income,339.219\r\nERITREA,2010,52.5,14.6,39.4,2.1,High income,526.331\r\nESWATINI,2000,36.5,1.7,9.1,14.9,Upper middle income,146.358\r\nESWATINI,2006,29.2,2.9,6,11.1,Upper middle income,146.087\r\nESWATINI,2010,30.9,0.8,5.9,10.7,Upper middle income,151.903\r\nESWATINI,2014,25.5,2,5.8,9,Upper middle income,146.88\r\nETHIOPIA,2000,57.6,12.4,42,2,High income,12347.59\r\nETHIOPIA,2005,50.4,12.4,34.4,5.1,High income,13553.113\r\nETHIOPIA,2011,44.4,9.8,29.2,1.8,High income,14428.312\r\nETHIOPIA,2014,40.4,8.7,25.2,2.6,High income,15206.711\r\nETHIOPIA,2016,38.4,10,23.6,2.9,High income,15823.334\r\nETHIOPIA,2019,36.8,7.2,21.1,2.1,High income,16560.834\r\nFIJI,1993,4.3,9.8,6.9,2.2,Lower middle income,98.502\r\nFIJI,2004,7.5,6.3,5.3,5.1,Lower middle income,89.974\r\nGABON,2000,25.9,4.2,9,5.5,Lower middle income,184.69\r\nGABON,2012,17,3.4,6.4,7.7,Lower middle income,253.983\r\nGAMBIA (THE),2000,24.1,9.1,15.4,3,High income,243.236\r\nGAMBIA (THE),2006,27.7,7.4,15.8,2.7,High income,284.257\r\nGAMBIA (THE),2010,23.4,9.5,17.4,1.9,High income,317.504\r\nGAMBIA (THE),2012,21.1,9.5,17.9,1.1,High income,337.578\r\nGAMBIA (THE),2013,24.6,11,16.5,3.2,High income,346.839\r\nGAMBIA (THE),2018,19,6.2,13.9,1.2,High income,392.902\r\nGAMBIA (THE),2018,13.6,6,10.3,2.5,High income,392.902\r\nGEORGIA,1999,16.1,3.1,2.7,17.9,Lower middle income,269.919\r\nGEORGIA,2005,14.6,3,2.4,20.8,Lower middle income,233.077\r\nGEORGIA,2009,11.3,1.6,1.1,19.9,Lower middle income,254.744\r\nGERMANY,2004,1.3,1,1.1,3.5,Low income,3679.491\r\nGERMANY,2016,1.7,0.3,0.5,3.2,Low income,3603.889\r\nGHANA,1988,42.6,7,24.8,0.8,Upper middle income,2427.597\r\nGHANA,1993,41.2,10.9,25.8,2.5,Upper middle income,2709.984\r\nGHANA,1998,30.6,9.9,20.1,2.7,Upper middle income,2956.504\r\nGHANA,2003,35.5,8.4,19,4.5,Upper middle income,3199.225\r\nGHANA,2006,27.9,6,13.9,2.6,Upper middle income,3326.705\r\nGHANA,2008,28.4,8.7,14.4,5.7,Upper middle income,3448.626\r\nGHANA,2011,22.8,6.2,13.4,2.6,Upper middle income,3671.288\r\nGHANA,2014,18.8,4.7,11.2,2.6,Upper middle income,3890.124\r\nGHANA,2017,17.5,6.8,12.6,1.4,Upper middle income,4069.604\r\nGUATEMALA,1987,66.2,1.9,27.9,2.4,Lower middle income,1530.365\r\nGUATEMALA,1995,55.4,3.8,21.7,6.2,Lower middle income,1766.974\r\nGUATEMALA,1999,53.1,2.9,20.3,6.9,Lower middle income,1874.542\r\nGUATEMALA,2000,51,3.7,18.8,7.3,Lower middle income,1895.159\r\nGUATEMALA,2002,54.8,1.9,18.2,5.2,Lower middle income,1931.688\r\nGUATEMALA,2009,51.5,1,14.1,4.9,Lower middle income,1956.294\r\nGUATEMALA,2015,46.7,0.8,12.4,4.9,Lower middle income,1994.028\r\nGUINEA,1999,31.1,9.7,20,4.4,High income,1474.581\r\nGUINEA,2005,39.3,11,22.7,5.2,High income,1630.331\r\nGUINEA,2011,34.4,5.1,16,3,High income,1802.101\r\nGUINEA,2012,31.1,10,18.8,3.8,High income,1827.671\r\nGUINEA,2016,32.4,8.1,18.3,4,High income,1945.446\r\nGUINEA,2018,30.3,9.2,16.3,5.6,High income,2019.747\r\nGUINEA-BISSAU,2000,33.8,11.8,19.8,5,High income,207.783\r\nGUINEA-BISSAU,2006,47.7,8.8,17.4,16.9,High income,231.251\r\nGUINEA-BISSAU,2010,32,5.9,18,2.8,High income,254.839\r\nGUINEA-BISSAU,2014,27.6,6,17,2.3,High income,279.434\r\nGUYANA,1997,14,13.3,10.3,1.9,Lower middle income,102.619\r\nGUYANA,2000,13.9,12.1,11.9,5.5,Lower middle income,96.09\r\nGUYANA,2006,17.9,8.3,10.8,6.8,Lower middle income,80.942\r\nGUYANA,2009,19.3,5.5,11,6.7,Lower middle income,74.018\r\nGUYANA,2014,11.3,6.4,8.2,5.3,Lower middle income,74.484\r\nHAITI,1994,37.1,9.3,23.8,4.3,High income,1161.815\r\nHAITI,2000,28.8,5.5,13.9,3.1,High income,1207.519\r\nHAITI,2006,29.6,10.2,18.9,3.9,High income,1246.633\r\nHAITI,2012,22,5.1,11.6,3.6,High income,1270.169\r\nHAITI,2017,21.9,3.7,9.5,3.4,High income,1271.773\r\nHONDURAS,1987,43.3,2.3,18.1,2.7,Upper middle income,810.128\r\nHONDURAS,1996,38.6,1.6,17.9,2.8,Upper middle income,969.783\r\nHONDURAS,2001,35.5,1.3,12.8,3,Upper middle income,1070.673\r\nHONDURAS,2006,29.8,1.4,8.7,5.8,Upper middle income,1052.842\r\nHONDURAS,2012,22.6,1.4,7.1,5.2,Upper middle income,1020.993\r\nINDIA,1993,57.7,19.9,51.2,2.9,Upper middle income,123695.199\r\nINDIA,1997,45.9,18.4,38.4,5.9,Upper middle income,126145.646\r\nINDIA,1999,54.2,17.1,46.3,2.9,Upper middle income,127300.714\r\nINDIA,2006,47.8,20,43.5,1.9,Upper middle income,129784.914\r\nINDIA,2015,37.9,20.8,36.3,2.4,Upper middle income,118983.308\r\nINDIA,2017,34.7,17.3,33.4,1.6,Upper middle income,116172.498\r\nINDONESIA,1996,48.1,14.9,30.3,6.5,Upper middle income,21900.255\r\nINDONESIA,2000,42.4,5.5,24.8,1.5,Upper middle income,21305.368\r\nINDONESIA,2001,41.6,5.4,23.4,1.5,Upper middle income,21469.844\r\nINDONESIA,2004,28.6,14.4,19.7,5.1,Upper middle income,22054.871\r\nINDONESIA,2007,40.1,14.8,19.6,11.2,Upper middle income,22542.464\r\nINDONESIA,2010,39.2,12.3,18.6,12.3,Upper middle income,23172.918\r\nINDONESIA,2013,36.4,13.5,19.9,11.5,Upper middle income,23913.401\r\nINDONESIA,2018,30.5,10.2,17.7,8,Upper middle income,24350.302\r\nIRAN (ISLAMIC REPUBLIC OF),1995,24.4,8.1,13.8,5.5,Lower middle income,7332.956\r\nIRAN (ISLAMIC REPUBLIC OF),1998,20.4,6.1,9.5,6.9,Lower middle income,6173.345\r\nIRAQ,2000,28.1,6.6,12.8,5.5,Lower middle income,3830.633\r\nIRAQ,2006,27.5,5.8,7.1,15,Lower middle income,4276.069\r\nIRAQ,2011,22.1,6.5,7.2,11.4,Lower middle income,4634.29\r\nIRAQ,2018,12.6,3,3.9,6.1,Lower middle income,5404.397\r\nJAMAICA,1991,11.8,5.5,5.6,2.3,Lower middle income,288.802\r\nJAMAICA,1992,14.4,2.7,5.7,3.1,Lower middle income,287.476\r\nJAMAICA,1993,12.6,4.4,6.1,4.6,Lower middle income,288.642\r\nJAMAICA,1994,12.1,3,4.6,6.2,Lower middle income,290.425\r\nJAMAICA,1995,9.7,4.8,4.8,5.9,Lower middle income,291.521\r\nJAMAICA,1996,11.2,2.5,5.6,3.8,Lower middle income,293.407\r\nJAMAICA,1997,8.7,2.2,3.5,5.5,Lower middle income,294.18\r\nJAMAICA,1998,9.5,2.6,3.8,4.3,Lower middle income,293.674\r\nJAMAICA,1999,5.7,2.4,2.1,6.3,Lower middle income,291.932\r\nJAMAICA,2000,7.2,3,3.9,7.3,Lower middle income,288.993\r\nJAMAICA,2001,6.6,3.2,4,5.

In [ ]:
import pandas as pd
df = pd.read_csv("/content/malnutrition-estimates.csv")
df.head()

,ISO code,Country,Survey Year,Year,Income Classification,LDC,LIFD,LLDC or SID2,Survey Sample (N),Severe Wasting,Wasting,Overweight,Stunting,Underweight,Notes,Report Author,Source,Short Source,U5 Population ('000s)
0,AFG,AFGHANISTAN,1997,1997,0,1,1,1,"4,846",NaN,18.2,6.5,53.2,44.9,Converted estimates,CIET International,Afghanistan 1997 multiple indicator baseline (...,MICS,3838.877
1,AFG,AFGHANISTAN,2004,2004,0,1,1,1,946,3.5,8.6,4.6,59.3,32.9,NaN,"Ministry of Public Health (Afghanistan), UNICE...",Summary report of the national nutrition surve...,NNS,4789.353
2,AFG,AFGHANISTAN,2013,2013,0,1,1,1,"44,26,469",4.0,9.5,5.3,40.4,24.6,NaN,"Ministry of Public Health, UNICEF and the Aga ...",Afghanistan National Nutrition Survey 2013.,SMART,5444.573
3,AFG,AFGHANISTAN,2018,2018,0,1,1,1,NaN,1.6,5.1,4.1,38.2,19.1,NaN,KIT Royal Tropical Institute,Afghanistan Health Survey 2018,Other,5601.443
4,ALB,ALBANIA,1996-98,1997,2,0,0,0,"7,642",NaN,8.1,9.5,20.4,7.1,Converted estimates,"Institute of Public Health, Food and Nutrition...",National study on nutrition in Albania. Instit...,Other,309.225

In [ ]:
df.shape
df.columns

Index(['ISO code', 'Country', 'Survey Year', 'Year', 'Income Classification',
       'LDC', 'LIFD', 'LLDC or SID2', 'Survey Sample (N)', 'Severe Wasting',
       'Wasting', 'Overweight', 'Stunting', 'Underweight', 'Notes',
       'Report Author', 'Source', 'Short Source', 'U5 Population ('000s)'],
      dtype='object')

In [ ]:
# keep relevant columns
keep = [
    'Country', 'Year', 'Stunting', 'Wasting', 'Underweight', 'Overweight',
    'Income Classification', "U5 Population ('000s)"
]

df = df[keep]
df.head()

,Country,Year,Stunting,Wasting,Underweight,Overweight,Income Classification,U5 Population ('000s)
0,AFGHANISTAN,1997,53.2,18.2,44.9,6.5,0,3838.877
1,AFGHANISTAN,2004,59.3,8.6,32.9,4.6,0,4789.353
2,AFGHANISTAN,2013,40.4,9.5,24.6,5.3,0,5444.573
3,AFGHANISTAN,2018,38.2,5.1,19.1,4.1,0,5601.443
4,ALBANIA,1997,20.4,8.1,7.1,9.5,2,309.225

In [ ]:
# check missing values
df.isna().sum()

Country                    0
Year                       0
Stunting                  37
Wasting                   47
Underweight               22
Overweight               136
Income Classification      0
U5 Population ('000s)      0
dtype: int64

In [ ]:
# Remove rows with missing nutrition indicators
df = df.dropna(subset=['Stunting', 'Wasting', 'Underweight', 'Overweight'])

# Check how many rows remain
df.shape

(780, 8)

In [ ]:
# Check data types
df.dtypes

Country                   object
Year                       int64
Stunting                 float64
Wasting                  float64
Underweight              float64
Overweight               float64
Income Classification      int64
U5 Population ('000s)    float64
dtype: object

In [ ]:
# Check unique values inside Income Classification
df['Income Classification'].unique()

array([0, 2, 1, 3])

In [ ]:
# Map income classification numbers to text labels
income_map = {
    0: 'High income',
    1: 'Upper middle income',
    2: 'Lower middle income',
    3: 'Low income'
}

df['Income Classification'] = df['Income Classification'].map(income_map)

# Confirm change
df['Income Classification'].unique()

array([nan], dtype=object)

In [ ]:
df['Income Classification'].unique()

array([nan], dtype=object)

In [ ]:
import pandas as pd

# 1. Load the original raw file again
#  IMPORTANT: replace the path string below with whatever you used before when it worked.
# Example if your file is in /content:
# df_raw = pd.read_csv("/content/malnutrition-estimates.csv")
df_raw = pd.read_csv("malnutrition-estimates.csv")  # change this if needed

# 2. Keep only the 8 useful columns
keep = [
    'Country', 'Year', 'Stunting', 'Wasting', 'Underweight', 'Overweight',
    'Income Classification', "U5 Population ('000s)"
]
df = df_raw[keep].copy()

# 3. Drop rows where any of the 4 indicators are missing
df = df.dropna(subset=['Stunting', 'Wasting', 'Underweight', 'Overweight'])

# 4. Map Income Classification codes (0,1,2,3) to text labels
income_map = {
    0: 'High income',
    1: 'Upper middle income',
    2: 'Lower middle income',
    3: 'Low income',
    '0': 'High income',
    '1': 'Upper middle income',
    '2': 'Lower middle income',
    '3': 'Low income'
}

df['Income Classification'] = df['Income Classification'].map(income_map)

# 5. Check results
print(df.shape)
print(df['Income Classification'].unique())
df.head()

(780, 8)
['High income' 'Lower middle income' 'Upper middle income' 'Low income']

,Country,Year,Stunting,Wasting,Underweight,Overweight,Income Classification,U5 Population ('000s)
0,AFGHANISTAN,1997,53.2,18.2,44.9,6.5,High income,3838.877
1,AFGHANISTAN,2004,59.3,8.6,32.9,4.6,High income,4789.353
2,AFGHANISTAN,2013,40.4,9.5,24.6,5.3,High income,5444.573
3,AFGHANISTAN,2018,38.2,5.1,19.1,4.1,High income,5601.443
4,ALBANIA,1997,20.4,8.1,7.1,9.5,Lower middle income,309.225

In [ ]:
# Save the cleaned dataset for SQL + Tableau + future use
df.to_csv("malnutrition_clean.csv", index=False)

In [ ]:
# Quick check: reload the saved file
df_clean = pd.read_csv("malnutrition_clean.csv")
df_clean.head()

,Country,Year,Stunting,Wasting,Underweight,Overweight,Income Classification,U5 Population ('000s)
0,AFGHANISTAN,1997,53.2,18.2,44.9,6.5,High income,3838.877
1,AFGHANISTAN,2004,59.3,8.6,32.9,4.6,High income,4789.353
2,AFGHANISTAN,2013,40.4,9.5,24.6,5.3,High income,5444.573
3,AFGHANISTAN,2018,38.2,5.1,19.1,4.1,High income,5601.443
4,ALBANIA,1997,20.4,8.1,7.1,9.5,Lower middle income,309.225

In [ ]:
# Make column names SQL-friendly
df = df.rename(columns={
    'Country': 'country',
    'Year': 'year',
    'Stunting': 'stunting',
    'Wasting': 'wasting',
    'Underweight': 'underweight',
    'Overweight': 'overweight',
    'Income Classification': 'income_class',
    "U5 Population ('000s)": 'u5_population_thousands'
})

# Check new column names
df.columns

Index(['country', 'year', 'stunting', 'wasting', 'underweight', 'overweight',
       'income_class', 'u5_population_thousands'],
      dtype='object')

In [ ]:
df.to_csv("malnutrition_clean.csv", index=False)

In [ ]:
from google.colab import files

# Download the cleaned dataset to your computer
files.download("malnutrition_clean.csv")